<h1>nf-pc11</h1>
<h2>Events Schedule</h2>
<h3>Enter new event or appointment</h3>
<%= form_for @appointment do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :apt_time %>
  <%= f.submit 'Enter Event or Make Appointment' %>
  <% @appointments.each do |a| %>
    <h3>
      <%= a.title %>
    </h3>
    <p>
      <%= a.apt_time %>
    </p>
  <% end %>
<% end %>
